{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

{% for client in clients %}

       <h1>nom : {{ client.nom }}</h1>
       <h1>prenom : {{ client.prenom }} </h1>
       <h1>annonce : {{ client.annonce }} </h1>
        
       
   {% endfor %}

{% endblock %}